---
---

$muted_text: #{{ site.data.template.color.muted }};
$primary_color: #{{ site.data.template.color.primary }};
$dtiles_blue: #{{ site.data.template.color.dtiles-blue }};
$brand_darkblue: #{{ site.data.template.color.brand-darkblue }};
$sec_gray_4: #{{ site.data.template.color.secondary-gray-4 }};

@import "header";
@import "imprint";
@import "products";
@import "services";
@import "partners";
@import "jobs";
@import "features";
@import "footer";
@import "team";

body {
    color: $muted_text;
}


h1, h2, h3 {
    color: $brand_darkblue;
}
