---
---

$muted_text: #{{ site.data.template.color.muted }};
$primary_color: #{{ site.data.template.color.primary }};

@import "imprint";
@import "products";
@import "services";
@import "customers";


h3 {
    color: #fff;
}