<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    {% assign title = page.title | default: site.title | escape %}
    {% assign desc = page.excerpt | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape %}
    <title>{{ title }}</title>
    <meta name="description" content="{{ desc }}" />
    <meta name="viewport" content="width=device-width">
    <meta name="google-site-verification" content="ngngGkSE96I5ivstilQYGqyubAiuq1JSks3CZ1zDrFs" />
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

    <meta property="og:image:height" content="206"/>
    <meta property="og:image:width" content="206"/>
    <meta property="og:title" content="{{ title }}"/>
    <meta property="og:site_name" content="{{ title }}" />
    <meta property="og:description" content="{{ desc }}"/>
    <meta property="og:url" content="{{ site.url }}"/>
    <meta property="og:image" content="{{ site.url }}/img/logos/datavisyn-logo.png"/>

    <!-- Schema.org markup for Google+ -->
    <meta itemprop="name" content="{{ title }}"/>
    <meta itemprop="description" content="{{ desc }}"/>
    <meta itemprop="image" content="{{ site.url }}/img/logos/datavisyn-logo.png"/>

    <!-- Twitter Card data -->
    <meta name="twitter:card" content="summary_large_image"/>
    <meta name="twitter:site" content="@datavisyn"/>
    <meta name="twitter:title" content="{{ title }}"/>
    <meta name="twitter:description" content="{{ desc }}"/>
    <meta name="twitter:creator" content="@datavisyn"/>
    <meta name="twitter:image:src" content="{{ site.url }}/img/logos/datavisyn-logo.png"/>

    
    <link rel="apple-touch-icon" sizes="180x180" href="{{ "/img/favicons/apple-touch-icon.png" | prepend: site.baseurl }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ "/img/favicons/favicon-32x32.png" | prepend: site.baseurl }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ "/img/favicons/favicon-16x16.png" | prepend: site.baseurl }}">
    <link rel="manifest" href="{{ "/img/favicons/site.webmanifest" | prepend: site.baseurl }}">
    <link rel="mask-icon" href="{{ "/img/favicons/safari-pinned-tab.svg" | prepend: site.baseurl }}" color="#{{ site.data.template.color.dtiles-blue }}">
    <link rel="shortcut icon" href="{{ "/img/favicons/favicon.ico" | prepend: site.baseurl }}">
    <meta name="apple-mobile-web-app-title" content="{{ title }}">
    <meta name="application-name" content="{{ title }}">
    <meta name="msapplication-TileColor" content="#{{ site.data.template.color.danger }}">
    <meta name="msapplication-config" content="{{ "/img/favicons/browserconfig.xml" | prepend: site.baseurl }}">
    <meta name="theme-color" content="black">


    <!-- Custom CSS & Bootstrap Core CSS - Uses Bootswatch Flatly Theme: http://bootswatch.com/flatly/ -->
    <link rel="stylesheet" href="{{ "/style.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/css/custom.css" | prepend: site.baseurl }}">

    <!-- Custom Fonts -->
    <link rel="stylesheet" href="{{ "/css/font-awesome/css/font-awesome.min.css" | prepend: site.baseurl }}">
    <link href="https://fonts.googleapis.com/css?family=Monda|Work+Sans" rel="stylesheet" type="text/css">

    <!-- Lightbox -->
    <link rel="stylesheet" href="{{ "/lightbox2/dist/css/lightbox.min.css" | prepend: site.baseurl }}" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
