<!-- Customer Section -->
<section id="partners">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Partners</h2>
                <!--<h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>-->
            </div>
        </div>
        <div class="row partners">
            {% for partner in site.partners %}
            <div class="partner {{ partner.class }}">
                <a href="{{ partner.link }}" target="_blank" title="{{ partner.name }}" rel="noopener">
                    <img src="img/partners/{{ partner.logo }}" alt="{{ partner.name }}">
                </a>
            </div>
            {% endfor %}
            <div class="info_funding">
                <p>Dieses Projekt wird aus Mitteln des Europäischen Fonds für regionale Entwicklung und des Landes Oberösterreich kofinanziert. Nähere Informationen zu IWB/EFRE finden Sie auf <a href="https://www.iwb2020.at" target="_blank">www.iwb2020.at</a>.</p>
            </div>
        </div>
    </div>
</section>