<section id="products">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h2 class="section-heading">Products</h2>
                <!--<h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>-->
            </div>
        </div>
        <div class="row">
            {% for product in site.products %}
            <article class="product">
                <div class="text-center intro">
                    {{ product }}
                </div>

                <div class="product-content-wrapper">
                    <div class="text-center">
                        <div id="{{ product.cssClass }}-showcase">
                            {% for image in product.images %}
                                <figure class="item {{ image.class }}">
                                    <img src="img/screenshots/{{ image.file }}" alt="">
                                    <figcaption>
                                        <h4>{{ image.caption.header }}</h4>
                                        <p class="large">{{ image.caption.text }}</p>
                                    </figcaption>
                                </figure>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="features text-center">
                        <div class="row">
                            {% for feature in product.features %}
                            <div class="col-sm-4 feature">
                                <i class="fa fa-{{feature.iconClass}}"></i>
                                <h4>{{ feature.header }}</h4>
                                <p>{{ feature.text }}</p>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </article>
            {% endfor %}
        </div>
        <p class="reduced-width-text">
            Academic licences for research or educational use can be obtained free of charge. To request an academic licence or to get details and pricing please send an email to
            <a href="mailto:contact@datavisyn.io">contact@datavisyn.io</a>.
        </p>
    </div>
</section>