<section id="products">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h2 class="section-heading">Products</h2>
                <!--<h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>-->
            </div>
        </div>
        {% for platform in site.platform %}
        <div class="text-center intro">
            {{ platform }}
        </div>
        <div class="features text-center">
        {% for feature in platform.features %}
        {% cycle 'add rows': '<div class="row">', '' %} <!-- workaround for adding Bootstrap's rows if the loop is in at an odd index -->
            <div class="col-sm-6 feature">
                <i class="fa fa-{{feature.iconClass}}"></i>
                <h4>{{ feature.header }}</h4>
                <p>{{ feature.text }}</p>
            </div>
            {% cycle 'close rows': '', '</div>' %} <!-- even index -->
        {% endfor %}
        </div>
        {% endfor %}

        {% for product in site.products %}
        <article class="product">
            <div class="text-center">
                {{ product }}
            </div>

            <div class="row product-content-wrapper">
                <div class="col-xs-12 col-md-6 {% cycle '', 'col-md-push-6' %}"> <!-- push column right at even loop index -->
                    <h4>{{ product.header }}</h4>
                    <p>{{ product.description }}</p>

                    <div class="demo">
                        <a href="{{ product.link.url }}" class="btn">{{ product.link.text }}</a>
                    </div>
                    <div class="screenshots">
                        {% for image in product.images.secondary %}
                            <div class="screenshot">
                                <a href="img/screenshots/{{ image.file }}" data-lightbox="{{ product.title }}" data-title="{{ image.title }}">
                                    <img src="img/screenshots/{{ image.file }}" alt="">
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="screenshot col-xs-12 col-md-6 {% cycle '', 'col-md-pull-6' %}"> <!-- pull column left at even loop index -->
                    <a href="img/screenshots/{{ product.images.primary.file }}" data-lightbox="{{ product.title }}" data-title="{{ product.images.primary.title }}">
                        <img src="img/screenshots/{{ product.images.primary.file }}" alt="">
                    </a>
                </div>
            </div>
        </article>
        {% endfor %}
        <p class="reduced-width-text center-block">
            Academic licences for research or educational use can be obtained free of charge. To request an academic licence or to get details and pricing please send an email to
            <a href="mailto:contact@datavisyn.io">contact@datavisyn.io</a>.
        </p>
    </div>
</section>