.feature {
    padding: 20px;
    text-align: center;

    i {
        font-size: 40px;
    }

    h4 {
        margin: 20px 0;
        color: $brand_darkblue;
    }

    i {
        color: $dtiles_blue;
    }
}

.feature-jobs { 
    padding: 20px;
    text-align: center;
    max-width: 250px;

    i {
        font-size: 40px;
    }

    h4 {
        margin: 20px 0;
        color: $brand_darkblue;
    }
    
    i {
        color: $dtiles_blue;
    }
}