@import 'mixins';

.benefits {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  .feature {
    width: 100%;
  }
}

.job-ad {
  h4 {
    color: white;
  }
}

@include responsiveness('benefits', 'feature');