#partners {
  .partners {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    @media screen and (min-width: 768px)  {
      justify-content: left;
    }
    @media screen and (min-width: 1440px)  {
      justify-content: center;
    }

    .partner {
      text-align: center;
      width: 30%;
      margin: 1%;

      &::before {
        color: $sec_gray_4;
        font-size: 13px;
      }

      img {
        max-height: 100px;
        max-width: 100%;
      }
    }
  }
}
