#products {
    color: $muted_text;

    .screenshots {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
    }

    .product {
        margin-top: 20px;
        margin-bottom: 60px;
    }

    .product-content-wrapper {
        margin-top: 20px;

        h4 {
            color: white;
        }
    }

    .intro p {
        font-size: 16px;
    }

    .reduced-width-text {
        width: 66.6667%;
        margin: 0 auto;
    }

    .features {
        margin-top: 60px;
    }

    .feature {
        padding: 20px;

        i {
            font-size: 40px;
        }

        h4 {
            margin: 20px 0;
        }

        h4, i {
            color: white;
        }
    }

    .screenshots a {

        &:first-child {
            width: 100%;
        }

        width: 30%;
        margin: 5px;
        > img {
            width: 100%;
        }
    }

    .demo {
        text-align: center;
        margin-top: 2em;

        .btn {
            color: #fff;
            background-color: $primary_color;
        }
    }
}