#products {
    color: $muted_text;

    .product {
        margin-top: 20px;
        margin-bottom: 60px;
    }

    .product-content-wrapper {
        margin-top: 20px;

        h4 {
            color: white;
        }
    }

    .intro p {
        font-size: 16px;
    }

    .reduced-width-text {
        width: 66.6667%;
        margin: 0 auto;
    }

    .features {
        margin-top: 60px;
    }

    .feature {
        padding: 20px;

        i {
            font-size: 40px;
        }

        h4 {
            margin: 20px 0;
        }

        h4, i {
            color: white;
        }
    }

    figure {
        > img {
            width: 100%;
        }
    }
}