#products {
    color: $muted_text;

    .product {
        margin-top: 20px;
        margin-bottom: 60px;
    }

    .product-content-wrapper {
        margin-top: 20px;

        h4 {
            color: white;
        }
    }

    .intro p {
        font-size: 16px;
    }

    .reduced-width-text {
        width: 66.6667%;
    }

    .features {
        margin-top: 60px;
    }

    .feature {
        padding: 20px;

        i {
            font-size: 40px;
        }

        h4 {
            margin: 20px 0;
        }

        h4, i {
            color: white;
        }
    }

    .screenshots{
        margin: 25px 0;
        display: flex;
        justify-content: space-between;

        .screenshot {
            width: 30%;
        }
    }

    .screenshot {
        a {
            > img {
                width: 100%;
            }
        }
    }

    .demo {
        text-align: right;
        margin-top: 10px;

        > .btn {
            color: #fff;
            background-color: $primary_color;
        }
    }
}