@import 'mixins';

.team {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

  .team-member {
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .team .team-member {
    width: 30%;
  }
}

@media screen and (min-width: 992px) {
  .team .team-member {
    width: 30%;
  }
}