{% include css/bootstrap.min.css %}
{% include css/agency.css %}
{{ content }}


.imprint {
    color: #fff;
}

.product h3 {
    color: #fff;
}

.carousel-control span:first-child {
    position: absolute;
    right: 50%;
    top: calc(50% - 10px);

}

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.5);
}

.product-content-wrapper {
    margin: 20px 0;
}

.features {
    color: #fff;
    margin-top: 60px;
}

.feature {
    padding: 20px;
}

.feature i {
    font-size: 40px;
}

.feature h4 {
    margin: 20px 0;
}